{% extends "base.html" %}
{% load static %}

    {% block content %}
    <main>
        <section class="container">
            <div class="row py-5">
                <div class="col-12 my-auto">
                    <div class="row text-center">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="display-2 text-primary"><span class="ion-ios-trash-outline"></span></h1>
                                    <h4 class="card-title text-primary">Rifiuti</h4>
                                    <p class="card-text">Citylog permette ai cittadini di segnalare l’abbandono illecito 
                                    di rifiuti, contribuendo a contrastare il degrado urbano. Sensibilizziamo la comunità 
                                    e supportare interventi tempestivi per mantenere la città pulita e vivibile.</p>
                                    <a href="{% url 'core:segnalazioni-list' %}?typo=rifiuti" class="btn btn-primary mt-auto">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="display-2 text-primary"><span class="ion ion-ios-leaf-outline"></span></h1>
                                    <h4 class="card-title text-primary">Ambiente</h4>
                                    <p class="card-text">Citylog promuove la tutela dell’ambiente urbano mappando decimazioni 
                                    ambientali e il degrado del verde pubblico. Ogni segnalazione aiuta a proteggere e valorizzare gli spazi 
                                    naturali urbani.</p>
                                    <a href="{% url 'core:segnalazioni-list' %}?typo=ambiente" class="btn btn-primary mt-auto">Button</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="display-2 text-primary"><span class="ion ion-ios-car-outline"></span></h1>
                                    <h4 class="card-title text-primary">Strade</h4>
                                    <p class="card-text">Citylog consente ai cittadini di segnalare buche e dissesti stradali, 
                                    contribuendo a migliorare la sicurezza e la viabilità urbana. Le segnalazioni vengono raccolte 
                                    anche per creare una mappa dedicata, utile per interventi mirati..</p>
                                    <a href="{% url 'core:segnalazioni-list' %}?typo=strade" class="btn btn-primary mt-auto">Button</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="cards" class="container pb-5">
            <div class="d-flex my-3">
                <div class="jumbotron w-100 py-5 mx-auto">
                    <h1>Come funziona CityLog</h1>
                    <h4>Pochi e semplici passi per iniziare.</h4>
                    <p class="lead">
                        Bastano pochi semplici passi per contribuire a migliorare la tua città!
                        Scarica la nostra app. <a class="font-weight-bold" href="https://themestr.app">citylog.app</a> per iniziare ad
                        inviarci le tue segnalazioni. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                     <div class="card bg-success text-white h-100">
                         <div class="card-body d-flex flex-column align-items-start">
                             <h4 class="card-title">Scarica l'app</h4>
                             <p class="card-text">Bastano pochi semplici passi per contribuire a migliorare la tua città!</p>
                             <a href="https://getbootstrap.com/docs/4.1/components/scrollspy/" class="btn btn-primary border-white mt-auto">Download</a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                     <div class="card bg-secondary border-primary text-white h-100">
                         <div class="card-body d-flex flex-column align-items-start">
                             <h4 class="card-title text-white">Collegati a Citylog</h4>
                             <p class="card-text">Accedi con il tuo account Facebook.</p>
                             <a href="#" class="btn btn-primary mt-auto">Download</a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                      <div class="card bg-info text-white h-100">
                          <div class="card-body d-flex flex-column align-items-start">
                              <h4 class="card-title">Inquadra & Invia</h4>
                              <p class="card-text">Scatta una foto e segnala un problema.</p>
                              <a href="https://getbootstrap.com/docs/4.1/components/scrollspy/" class="btn btn-primary border-white mt-auto">Download</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 mb-4">
                     <div class="card border-primary h-100">
                         <div class="card-body d-flex flex-column align-items-start">
                             <h4 class="card-title text-primary">Visualizza la situazione</h4>
                             <p class="card-text">Verifica lo stato della tua segnalazione.</p>
                             <a href="#" class="btn btn-primary mt-auto">Button</a>
                         </div>
                     </div>
                 </div>
            </div>
            <!--a href="https://www.facebook.com/v17.0/dialog/oauth?
                client_id=1233024841238630
                &redirect_uri=https://citylog.cloud/facebook/callback/
                &scope=email,public_profile"
                class="btn btn-primary">
                <i class="fab fa-facebook"></i> Accedi con Facebook
            </a-->
            <a href="{{ facebook_url }}" class="btn btn-primary">
                <i class="fab fa-facebook"></i> Login con Facebook-new
            </a>

            <a href="https://www.facebook.com/v17.0/dialog/oauth?client_id=1233024841238630&redirect_uri=https://citylog.cloud/facebook/callback/&scope=email" class="btn btn-primary">
            <i class="fab fa-facebook"></i> Login con Facebook
             </a>

             {% if request.user.is_authenticated %}
                <button class="btn btn-primary" disabled>
                    <i class="fab fa-facebook"></i> Sei già connesso con Facebook
                </button>
            {% else %}
                <a href="https://www.facebook.com/v17.0/dialog/oauth?client_id=1233024841238630&redirect_uri=https://citylog.cloud/facebook/callback/&scope=email"
                   class="btn btn-warning">
                    <i class="fab fa-facebook"></i> Not Logged! Login con Facebook
                </a>
            {% endif %}

        </section>
    </main>
    {% endblock %}
