{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-primary">{{ page_title }} - <h3 class="text-secondary">{{ typo|default:"anything" }}</h3></h1>

    <div class="table-responsive"> <!-- Questo rende la tabella scorrevole su schermi piccoli -->
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Latitudine</th>
                    <th>Longitudine</th>
                    <th>Città</th>
                    <th>Indirizzo</th>
                    <th>Image.time</th>
                    <th>Immagine.id</th>
                    <th>Typo</th>
                    <th>User</th>
                    <th>Dettagli</th>
                </tr>
            </thead>
            <tbody>
                {% for segnalazione in segnalazioni %}
                <tr>
                    <td>{{ segnalazione.id }}</td>
                    <td>{{ segnalazione.latitude }}</td>
                    <td>{{ segnalazione.longitude }}</td>
                    <td>{{ segnalazione.city|default:"-" }}</td>
                    <td><a href="{{ segnalazione.image_url }}">{{ segnalazione.address|default:"-" }}</td>
                    <td>{{ segnalazione.image_time|date:"d/m/Y H:i" }}</td>
                    <td>{{ segnalazione.image_id }}</td>
                    <td><span class="badge badge-info">{{ segnalazione.typo }}</span></td>
                    <td>
                    <!-- Icona utente Facebook -->
                         {% if request.session.facebook_picture %}
                             <img src="{{ request.session.facebook_picture }}" alt="Profilo" class="rounded-circle me-1" style="width: 30px; height: 30px;">
                         {% else %}
                             <i class="fas fa-user-circle fa-lg text-secondary me-1"></i>
                         {% endif %}
                         <!-- Nome utente -->
                         {{ request.session.facebook_name|default:"Anonimo" }}
                    </td>
                    <td style="width: 100px; height: 100px;">
                        {% if segnalazione.status == '0' %}
                        <a href="https://maps.citylog.cloud/sample_leaflet.html?lat={{ segnalazione.latitude }}&lon={{ segnalazione.longitude }}&zoom=15&address={{ segnalazione.address }}&image_url={{ segnalazione.image_url }}" target="_blank">
                            <img src="{{ segnalazione.image_url }}" alt="Immagine" style="width: 100%; height: 100%; object-fit: cover;" />
                        </a>
                        {% else %}
                            <img src="{{ segnalazione.image_url }}" alt="Immagine" style="width: 100%; height: 100%; object-fit: cover;" />
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">Nessuna segnalazione disponibile.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> <!-- Fine div table-responsive -->
</div>
{% endblock %}

